@import 'fonts';

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  background: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all 2s ease;
}

body.active-look {
  height: 100%;
  overflow: hidden;
}

.logo {
  padding: 6px 20px 6px 26px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  -webkit-transition: all 0.5s ease-out;
  -webkit-user-select: none;
}



.navbar {
  top: -100%;
  -webkit-transition: all 1s ease;
  cursor: pointer;
  .logo {
    background: rgba(0, 0, 0, 1);
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &.active-look {
    top: 0;
  }
}

#splash, #lookbook {
  width: 100%;
  height: 100vh;
}

#splash {
  z-index: 3;
  position: relative;
  display: block;
  overflow-x: hidden;
  -webkit-transition: all 2s ease;
  .overlay, .content-container {
    position: relative;
    -webkit-transition: all 2s ease;
  }
  &.active-look {
    .overlay {
      top: -200vh;
    }
    .content-container {
      top: 66vh;
    }
  }
  &.active-learn {
    .content-container {
      margin-top: -66vh;
    }
  }
  .overlay {
    -webkit-transition: all 2s ease;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 66vh;
    position: relative;
    top: 0;
  }
  .content-container {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    height: 100vh;
    top: 0;
    .content-container-header {
      display: table;
      position: relative;
      width: 100%;
      height: 34vh;
      header {
        position: relative;
        z-index: 1;
        display: table-cell;
        vertical-align: middle;
        .logo {
          display: block;
          text-align: center;
          width: auto;
          float: left;
          clear: both;
          color: #000;
          font-size: 160px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 100;
          padding-left: 20px;
          opacity: 1;
          &#logo-responsive {
            position: absolute;
            opacity: 0;
          }
        }
      }
    }
    .content-header-nav {
      right: 0;
      width: 320px;
      height: 100%;
      position: relative;
      z-index: 2;
      display: table-cell;
      vertical-align: middle;
      .inner {
        padding: 0;
        display: block;
        position: relative;
        overflow: visible;
      }
      a {
        position: relative;
        font-size: 40px;
        opacity: 0.25;
        display: block;
        cursor: pointer;
        -webkit-transition: opacity 0.25s ease-in;
        overflow: visible;
        &#look:before {
          top: 41px;
        }
        &#learn:before {
          top: 14px;
        }
        &:before {
          content: "";
          overflow: hidden;
          width: 2px;
          position: absolute;
          height: 0;
          background: rgba(0, 0, 0, 0.75);
          display: block;
          left: 4px;
          -webkit-transition: all 0.25s ease-in;
        }
        &:hover {
          opacity: 1;
          &#look:before {
            height: 100px;
            margin-top: -100px;
          }
          &#learn:before {
            padding-top: 100px;
          }
        }
      }
    }
  }
}
#lookbook {
  position: fixed;
  z-index: 2;
  overflow: hidden;
}
#profiles-wrap {
  z-index: 1;
}

$lookbookItemWidth: calc(100% / 6);

.lookbook-item {
  cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
  display: block;
  float: left;
  width: $lookbookItemWidth;
  height: 100%;
  background: #000;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  backface-visibility:     hidden;
  .next, .prev {
    cursor: pointer;
    position: relative;
    color: #fff;
    top: -50%;
    display: block;
    letter-spacing: 6px;
    padding-left: 6px;
    font-size: 12px;
    opacity: 0;
    font-weight: 100;
    -webkit-transition: all 1s ease;
  }
  .next {
    float: right;
    top: calc(-50% - 22px);
  }
  img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -100%;
    -webkit-transition: all 1s ease;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.5);
    opacity: 0.5;
    &:hover {
      opacity: 0.75;
    }
  }
  &.active {
    background: rgba(0, 0, 0, 0.85);
    cursor: default;
    width: calc(100% - (50px * 5));
    .next, .prev {
      //display: block;
      display: none;
      opacity: 0.5;
      -webkit-transition-delay: .75s;
      &:hover {
        opacity: 1;
        -webkit-transition-delay: 0s;
      }
    }
    img {
      left: 0;
      -webkit-transform: scale(0.75);
      opacity: 1;
    }
  }
  &.inactive {
    width: 50px;
    .next, .prev {
      opacity: 0;
    }
    &:hover {
      img {
        opacity: 0.75;
      }
    }
  }
}

#login-container {
  position: absolute;
  color: #fff;
  display: inline-block;
  z-index: 8;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  .is-toggle-login {
    width: 300px;
    display: block;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.95);
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -webkit-user-select: none;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  .login-screen {
    position: relative;
    z-index: 3;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 200px;
    form {
      -webkit-transform: scale(0);
      opacity: 0;
      -webkit-transition: all 0.75s ease;
      display: table;
      width: 600px;
      margin: 0 auto;
      height: 100%;
      font-size: 30px;
      color: #000;
    }
    .form-inner {
      display: table-cell;
      vertical-align: middle
    }
    input {
      height: 60px;
      padding: 10px 20px;
      font-weight: 100;
      font-size: 20px;
      border: none;
      webkit-appearance: none;
      outline: none;
    }
    #password {
      width: 300px;
    }
    #submit {
      height: 80px;
      position: relative;
      margin-left: -10px;
      background: #000;
      color: #fff;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  &.hide {
    height: 0;
  }
  &.active {
    height: 230px;
    .login-screen form {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }
}

#profiles-wrap {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 100vh;
  -webkit-transition: all 0.75s ease;
  &.active {
    top: 0;
    z-index: 4;
  }
}

#profiles {
  background: blue;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: scale(0);
  -webkit-transition: all 0.75s ease;
  &.active {
    -webkit-transform: scale(1.0);
  }
}


@media screen and (max-width: 1600px) {
  #splash .content-container .content-container-header header .logo  {
    font-size: 120px;
  }
  #splash .content-container .content-header-nav .inner {
    -webkit-transform: scale(0.95);
  }
}

@media screen and (max-width: 1280px) {
  #splash .content-container .content-container-header header .logo  {
    font-size: 100px;
  }
  #splash .content-container .content-header-nav .inner {
    -webkit-transform: scale(0.85);
  }
}


@media screen and (max-width: 1024px) {
  #splash .content-container .content-container-header header .logo  {
    font-size: 60px;
  }
  #splash .content-container .content-header-nav .inner {
    -webkit-transform: scale(0.75);
  }
}

@media screen and (max-width: 960px) {
  #splash .content-container .content-container-header header  {
    .logo {
      opacity: 0;
      width: 150px;
      font-size: 100px;
      &#logo-responsive {
        opacity: 1;
      }
    }
  }
}


