@import 'fonts';

a {
  text-decoration: none;
  color: inherit;
}

html, body {
  background: rgba(0, 0, 0, 0);
  overflow-x: hidden;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 16px;
  -webkit-font-smoothing: subpixel-antialiased !important;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transition: all 2s ease;
  &.active-look, &.noScroll {
//    height: 100%;
    overflow: hidden;
  }
}

.logo {
  padding: 6px 20px 6px 26px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 10px;
  -webkit-transition: all 0.5s ease-out;
  -webkit-user-select: none;
}



.navbar {
  top: -100%;
  position: fixed;
  width: 33.33333%;
  z-index: 999;
  left: 33.33333%;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  .logo {
    background: rgba(0, 0, 0, 1);
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  &.active-look {
    top: 0;
  }
}

#splash, #lookbook {
  width: 100%;
  height: 100vh;
  -webkit-transition: all 0.75s ease;
}

#lookbook {
  position: fixed;
  z-index: 2;
  overflow: hidden;
  opacity: 1;
  &.logged-in {
    opacity: 0;
//    top: -100vh;
  }
}

#splash {
  z-index: 3;
  position: relative;
  display: block;
  overflow-x: hidden;
  -webkit-transition: z-index 0s ease 0s;
  .overlay, .content-container {
    position: relative;
    -webkit-transition: all 2s ease;
  }
  &.active-look {
    overflow: hidden;
    z-index: 0;
    -webkit-transition: z-index 0s ease 2s;
    .overlay {
      top: -200vh;
    }
    .content-container {
      top: 66vh;
    }
  }
  &.active-learn {
    overflow: hidden;
    .overlay {
      top: -67vh;
    }
    .content-container {
      margin-top: -66vh;
    }
  }
  &.logged-in {
    height: 0;
  }
  .overlay {
    -webkit-transition: all 2s ease;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: relative;
    top: 0;
    margin-top: -34vh;
  }
  .content-container {
    position: relative;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    height: 100vh;
    top: 0;
    .content-container-header {
      display: table;
      position: relative;
      width: 100%;
      height: 34vh;
      header {
        position: relative;
        z-index: 1;
        display: table-cell;
        vertical-align: middle;
        .logo {
          display: block;
          text-align: center;
          width: auto;
          float: left;
          clear: both;
          color: #000;
          font-size: 160px;
          font-family: 'Open Sans', sans-serif;
          font-weight: 100;
          padding-left: 20px;
          opacity: 1;
          &#logo-responsive {
            position: absolute;
            opacity: 0;
          }
        }
      }
    }
    .content-header-nav {
      right: 0;
      width: 320px;
      height: 100%;
      position: relative;
      z-index: 2;
      display: table-cell;
      vertical-align: middle;
      .inner {
        padding: 0;
        display: block;
        position: relative;
        overflow: visible;
      }
      a {
        position: relative;
        font-size: 40px;
        opacity: 0.25;
        display: block;
        cursor: pointer;
        -webkit-transition: opacity 0.25s ease-in;
        overflow: visible;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

$lookbookItemWidth: calc(100% / 6);

.lookbook-item {
  cursor: -webkit-zoom-in; cursor: -moz-zoom-in;
  display: block;
  float: left;
  width: $lookbookItemWidth;
  height: 100%;
  background: #000;
  overflow: hidden;
  -webkit-transition: all 1s ease;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  backface-visibility:     hidden;
  .next, .prev {
    cursor: pointer;
    position: relative;
    color: #fff;
    top: -50%;
    display: block;
    letter-spacing: 6px;
    padding-left: 6px;
    font-size: 12px;
    opacity: 0;
    font-weight: 100;
    -webkit-transition: all 1s ease;
  }
  .next {
    float: right;
    top: calc(-50% - 22px);
  }
  img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    left: -100%;
    -webkit-transition: all 1s ease;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.5);
    opacity: 0.75;
    &:hover {
      opacity: 1;
    }
  }
  &.active {
    background: rgba(0, 0, 0, 0.85);
    cursor: default;
    width: calc(100% - (50px * 5));
    .next, .prev {
      //display: block;
      display: none;
      opacity: 0.5;
      -webkit-transition-delay: .75s;
      &:hover {
        opacity: 1;
        -webkit-transition-delay: 0s;
      }
    }
    img {
      left: 0;
      -webkit-transform: scale(0.75);
    }
  }
  &.inactive {
    width: 50px;
    .next, .prev {
      opacity: 0;
    }
    img {
      opacity: 0.5;
    }
    &:hover {
      img {
        opacity: 0.75;
      }
    }
  }
}

#login-container {
  position: absolute;
  color: #fff;
  display: inline-block;
  z-index: 8;
  text-align: center;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  .is-toggle-login {
    width: 300px;
    display: block;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.95);
    line-height: 30px;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    letter-spacing: 2px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-out;
    -webkit-user-select: none;
    &:hover {
      background: #fff;
      color: #000;
    }
  }
  .login-screen {
    position: relative;
    z-index: 3;
    background: rgba(255, 255, 255, 0.75);
    width: 100%;
    height: 200px;
    form {
      -webkit-transform: scale(0);
      opacity: 0;
      -webkit-transition: all 0.75s ease;
      display: table;
      width: 600px;
      margin: 0 auto;
      height: 100%;
      font-size: 30px;
      color: #000;
    }
    .form-inner {
      display: table-cell;
      vertical-align: middle
    }
    input {
      height: 60px;
      padding: 10px 20px;
      font-weight: 100;
      font-size: 20px;
      border: none;
      webkit-appearance: none;
      outline: none;
    }
    #password {
      width: 300px;
    }
    #login {
      height: 80px;
      position: relative;
      margin-left: -10px;
      background: #000;
      color: #fff;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  &.hide {
    height: 0;
  }
  &.active {
    height: 230px;
    .login-screen form {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }
}

#profiles-wrap {
  position: fixed;
  width: 100%;
  top: 100vh;
  -webkit-transition: top 0.75s ease, z-index 0.75s ease, position 0.75s linear 0.75s;
  z-index: 0;
  header {
    position: relative;
    z-index: 9;
    padding: 20px;
    clear: both;
    float: left;
    width: 100%;
    box-sizing: border-box;
    h1 {
      float: left;
      clear: both;
      margin: 0 auto;
      span {
        font-weight: 100;
      }
      opacity: 0.5;
    }
    a.back {
      float: right;
      line-height: 33px;
      cursor: pointer;
    }
  }
  #profiles {
    background: rgba(0, 0, 0, 0.95);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    opacity: 0;
    -webkit-transform: scale(0);
    -webkit-transition: opacity 0.75s ease, transform 0.75s ease;
  }
  &.active {
    top: 0;
    z-index: 4;
    position: relative;
    #profiles {
      opacity: 1;
      -webkit-transform: scale(1.0);
    }
  }
}


// Profiles Page Grid //
.grid-item {
  cursor: pointer;
  display: block;
  float: left;
  width: calc(100% / 3);
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.grid-item .cover, .grid-item .content {
  position: relative;
  display: table;
}

.grid-item .cover, .lookbook-item .cover {
  background: rgba(0, 0, 0, 0.35);
  width: calc(100% + 1px);
  height: 100%;
}

.grid-item .content {
  background: rgba(0, 0, 0, 0.65);
  top: 0;
  left: -25%;
  width: calc(150% + 1px);
  height: 150%;
  opacity: 0;
  -webkit-transition: all .35s ease;
}

.grid-item:hover {
  .content {
    opacity: 1;
    top: -125%;
  }
  .client-logo {
    opacity: 0;
  }
  .is-view-more {
    opacity: 1;
  }
}

.grid-item .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: rgba(255, 255, 255, 0.85);
  letter-spacing: 6px;
}

.grid-item .inner .client-logo {
  font-weight: 100;
  font-size: 24px;
}

.grid-item .inner .client-name {
  font-weight: 700;
  font-size: 18px;
}

.is-view-more {
  margin: 10px auto;
  -webkit-transition: all .35s ease .25s;
  -webkit-transform-origin: 50% 50%;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  opacity: 0;
}

.profile-overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  &.active {
    display: block;
  }
}

.is-close-overlay {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  font-size: 40px;
  display: block;
  float: left;
  clear: both;
  font-weight: 100;
  cursor: pointer;
  -webkit-transition: all 0.35s ease;
  &:hover {
    -webkit-transform: scale(1.25);
  }
}


@media screen and (max-width: 1600px) {
  #splash .content-container .content-container-header header .logo  {
    font-size: 120px;
  }
  #splash .content-container .content-header-nav .inner {
    -webkit-transform: scale(0.95);
  }
}

@media screen and (max-width: 1280px) {
  #splash .content-container .content-container-header header .logo  {
    font-size: 100px;
  }
  #splash .content-container .content-header-nav .inner {
    -webkit-transform: scale(0.85);
  }
}


@media screen and (max-width: 1024px) {
  #splash .content-container .content-container-header header .logo  {
    font-size: 60px;
  }
  #splash .content-container .content-header-nav .inner {
    -webkit-transform: scale(0.75);
  }
}

@media screen and (max-width: 960px) {
  #splash .content-container .content-container-header header  {
    .logo {
      opacity: 0;
      width: 150px;
      font-size: 100px;
      &#logo-responsive {
        opacity: 1;
      }
    }
  }
}


