@media screen and (max-width: 618px) {
  /* apply a natural box layout model to all elements, but allowing components to change */
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  html, body, .profile-overlay, .inner {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    float: left;
    width: 100%;
  }
  .loader {
    background: #000;
    color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 99999999999;
    -webkit-transition: opacity 0.25s ease 1s, z-index 0.25s 1s;
    .loader-content {
      display: table;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .loader-content .inner {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      overflow: visible;
      .logo {
        padding: 0px 2px;
        font-size: 10px;
      }
    }
    .loader-content .inner .line {
      width: 300px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      height: 1px;
      position: relative;
      top: 100%;
      margin: 0 auto;
      -webkit-transition: width 10s linear;
      &.active {
        width: 100%;
      }
    }
    &.is-loaded {
      opacity: 0;
      z-index: -9999999;
    }
  }
  .is-close-overlay {
    position: fixed;
    top: 0;
    right: 0;
    padding: 20px;
    color: #fff;
    font-size: 40px;
    display: block;
    float: left;
    clear: both;
    font-weight: 100;
    cursor: pointer;
    -webkit-transition: all 0.35s ease;
    z-index: 99999;
    background: rgba(0, 0, 0, 1.0);
    &:hover {
      background: rgba(0, 0, 0, 0.75);
    }
  }
  .logo {
    padding: 6px 20px 6px 26px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    letter-spacing: 10px;
    -webkit-transition: all 0.5s ease-out;
    -webkit-user-select: none;
  }
  .navbar {
    width: 100%;
    position: fixed;
    z-index: 999;
    -webkit-transition: all 1s ease;
    text-align: center;
    float: none;
    margin: 0 auto;
    top: 0;
    left: auto;
    .logo {
      width: 315px;
      margin: 0 auto;
      background: #000;
      cursor: pointer;
      background: rgba(0, 0, 0, 1);
      overflow: hidden;
      &:hover {
        background: rgba(255, 255, 255, 1);
        color: #000;
      }
    }
  }

  // Profiles Page Grid //
  .grid-item {
    cursor: pointer;
    display: block;
    float: left;
    width: calc(100% / 3);
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  .grid-item .cover, .grid-item .content {
    position: relative;
    display: table;
  }

  .grid-item .cover, .lookbook-item .cover {
    width: calc(100% + 1px);
    height: 100%;
  }

  .grid-item .content {
    padding-top: 18em;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: -25%;
    width: calc(150% + 1px);
    height: 150%;
    opacity: 0;
    -webkit-transition: all .35s ease;
  }

  .grid-item:hover {
    .content {
      opacity: 1;
      top: -125%;
    }
    .client-logo {
      opacity: 0;
    }
    .is-view-more {
      opacity: 1;
    }
  }

  .grid-item .inner {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    letter-spacing: 6px;
  }

  .grid-item .inner .client-logo {
    font-weight: 100;
    font-size: 24px;
  }

  .grid-item .inner .client-name {
    font-weight: 700;
    font-size: 18px;
  }

  #profiles {
    float: left;
    width: 100%;
    header {
      float: left;
      width: 100%;
      padding:  3em 1em .5em;
      h1 {
        font-size: 21px;
        float: left;
        width: 100%;
      }
      a.back {
        float: left;
        text-align: left;
      }
    }
  }

  .is-view-more {
    margin: 10px auto;
    -webkit-transition: all .35s ease .25s;
    -webkit-transform-origin: 50% 50%;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    opacity: 0;
  }

  .profile-overlay {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.75);
    z-index: 999;
    position: relative;
    top: 0;
    left: 0;
    display: none;
    .inner {
      width: 100%;
      position: relative;
      float: left;
      top: 0;
      left: 0;
    }
    &.active {
      display: block;
    }
  }

  .profile-info {
    width: 100%;
    height: 553px;
    float: left;
    .profile-headshot {
      width: 100%;
      height: 553px;
      float: left;
      img {
        width: 100%;
        float: left;
      }
    }
  }
  .profile-stats {
    top: 15.85em;
    left: 0em;
    padding: 1em .5em;
    background: rgba(0, 0, 0, 0.6);
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    h1, h3 {
      font-weight: 100;
    }
    h1 {
      font-size: 40px;
      margin: 0;
      border-bottom: 2px solid rgba(0, 0, 0, 0.25);
      padding-bottom: 20px;
    }
    h3 {
      span {
        margin-right: 20px;
      }
    }
    ul {
      text-align: right;
      list-style: none;
      padding: 1em .5em;
      width: 33.33333%;
      display: block;
      float: left;
      margin: 0;
      font-size: 14px;
      box-sizing: border-box;
    }
    li {
      list-style: none;
      text-align: left;
      padding: 0;
      line-height: 200%;
      span {
        float: left;
      }
    }
    span {
      padding-right: .5em;
      font-weight: 700;
    }
  }
  .profile-grid {
    width: 100%;
    float: left;
    .profile-grid-inner {
      width: 100%;
      float: left;
    }
  }

  .profile-grid-inner {
    float: left;
    width: 100%;
  }
  .grid-item, .profile-grid-item {
    float: left;
    overflow: hidden;
    width: 100%;
    height: 400px;
  }

  #splash .content-container .content-container-header header  {
    .logo {
      font-size: 55px;
    }
  }
}
